body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    opacity: 0;
}
h1 {
    font-size: 3rem;
}
.card-body {
    margin: 0 auto;
    padding: 25px 20px 5px;
    border-radius: 8px;
    background-color: aquamarine;
    width: fit-content;
    border: 5px solid rgb(127, 255, 180);
}
h3 {
    color: rgb(34, 34, 34);
    margin-top: 1rem;
    font-size: 3rem;
}
.hour,
.minute,
.second {
    padding: 0 10px;
}
.card {
    margin: 100px auto;
    height: 400px;
    width: 800px !important;
}
